.container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-radius: 16px;
  background: rgba(240, 237, 255, 0.8);
  width: 364px;
  height: 52px;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.input {
  color: #1c1c1c;
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  padding-left: 10px;
  line-height: normal;
  border-style: none;
  background: rgba(240, 237, 255, 0.8);
  outline: none;
  width: 90%;
  height: 100%;
}
.input::placeholder {
  color: #1c1c1c;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
